
.roundA {
  border-top-left-radius: var(--border-radius);
}

.roundB {
  border-top-right-radius: var(--border-radius);
}

.roundC {
  border-bottom-right-radius: var(--border-radius);
}

.roundD {
  border-bottom-left-radius: var(--border-radius);
}

.roundAD {
  border-radius: var(--border-radius) 0 0 var(--border-radius);
}

.roundBC {
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
}

.roundAB {
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.roundCD {
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}

.roundBCD {
  border-radius: 0 var(--border-radius) var(--border-radius) var(--border-radius);
}

.roundACD {
  border-radius: var(--border-radius) 0 var(--border-radius) var(--border-radius);
}

.roundABD {
  border-radius: var(--border-radius) var(--border-radius) 0 var(--border-radius);
}

.roundABC {
  border-radius: var(--border-radius) var(--border-radius) var(--border-radius) 0;
}

.roundABCD {
  border-radius: var(--border-radius);
}

